 body { 
    background-image: url(/assets/img/toy\ story\ clouds.jpg);
    background-color: powderblue;
    color:#F2E529;
   };

.card {
    border-radius: 12px;
};

.form-control {
    width: 10%;
}

/* .row1 {
    width: 50%;
};

.row2 {
    margin: 20px;
    width: 50%;
} */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-image: url(/assets/img/toy\ story\ clouds.jpg);
    background-color: #2196F3;
    padding: 10px;
  }


   



